body{
  margin:0px;
}

ul{
  margin: 0px;
  padding-left: 0px;
}

.header-top{
  height: 65px;
  width: 100%;
  background-color: #F5F5F5;
}
.header-top a{
  color: #999999;
  text-decoration: none;
  margin: 15px;
}
.header-top-one{
  height: 65px;
  width: 45%;
  float: left;
  /*
  background-color: pink;
  */
}
.header-top-one li{
  list-style: none;
  width: 30%;
  height: 50px;
  float: left;
  border-right: 1px solid grey;
  padding-top: 15px
}
.header-top-two{
/*
  background-color: green;
  */
  float: right;
  width: 20%;
  height: 65px;
}
.header-top-two li{
  list-style: none;
  width: 22%;
  height: 50px;
  /*
  background-color: red;
  */
  float: left;
  border-right: 1px solid grey;
  padding-top: 15px
}
i{
  padding-top: 8px;
  padding-left: 10px;
}
.header-bottom {
  height: 65px;
  width: 100%;
  /*
  background-color: green;
  */
  list-style: none;
}
.header-bottom-one {
  height: 65px;
  width: 20%;
  float: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #999999;
  /*
  background-color: red;
  */
}
.header-bottom-one a{
  background-color: black;
  text-decoration: none;
}
.header-bottom-one li{
  height: 65px;
  width: 20%;
  float: left;
  /*
  background-color: green;
  */
}
h1{
font-family: 'Raleway';
font-weight: 600;
color: #F4BC16;
padding: 0px;
margin-top: 15px
}
.header-bottom-two {
  height: 65px;
  width: 60%;
  float: right;
  /*
  background-color: yellow;
  */
}
.header-bottom-two li{
  height: 65px;
  float: left;
  width: 14.2%;
  list-style: none;
  margin-top: 15px;
  display: list-item;

  /*
  background-color: black;
  */
}
.header-bottom-two li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #999999;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
}
.img-contenant{
  width: 100%;
  height: 500px;
  background-color: black;
}
.img-text{
  float: left;
  position: relative;
  width: 100%;
  height: 100px;
  background-color: red;
}
.img{
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: green;
  background-image: url(../medias/tete-image);
}
img{
  width: 100%;
  height: 600px;
  float: left;
}
