body{
  margin:0px;
}
li{
  list-style: none;
  width: 30%;
  height: 50px;
  float: left;
  border-right: 2px solid black;
  padding-top: 15px
}
ul{
  margin: 0px;
  padding-left: 0px;
}
a{
  color: #999999;
  text-decoration: none;
  margin: 15px;
}
.header-top{
  height: 65px;
  width: 100%;
  background-color: #F5F5F5;
}
.header-top-one{
  height: 65px;
  width: 45%;
  float: left;
  background-color: pink;
}
.header-top-two{
  background-color: green;
  height: 65px;
}
